html {
	background-color: #F0F0F0;
	color: #000000;
	text-align: center;
}

body {
	margin: 0 auto;
	position: relative;
	width: 1092px;
}

a:link, a:visited {
	color: #F09911;
}

a:hover {
	color: #65C7F8;
}

/*-  CLEAR FLOATS
----------------------------------------------------------------------*/
.group:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

