body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #F0F0F0;
}

a:link, a:visited {
	color: #F09911;
}

a:hover {
	color: #65C7F8;
}

#wrap {
	width: 80%;
	max-width: 1000px;
	min-width: 700px;
	margin: 0 auto;
	padding: 25px 0 0 0;
	text-align: center;
}

#header {
	padding: 0 0 50px 0;
}

/*-  CLEAR FLOATS
----------------------------------------------------------------------*/
.group:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

