<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Monospace - The official cross-platform and open-source conference for .NET." />
		<meta name="keywords" content="progressive .NET mono linux mac apple windows web asp mvc c# iphone android amazon moonlight silverlight moonlight microsoft" />
		<title>Monospace 2012</title>
		<link rel="icon" type="image/ico" href="favicon.ico" />
		<style>
			.center { margin: 0 auto; display: block; width: 970px; }
			#content { }
			#footer { text-align: center; }
		</style>
	</head>
	<body>
		<div id="content" class="center">
			{{ content }}
		</div>
		<div id="footer" class="center">Copyright &#169; 2011-2012 Monkey Square, Inc.</div>
	</body>
</html>
